body{

    margin: 0;
}

.hero{
    max-width: 100%;
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
}

h1{
    font-family: 'Fraunces';
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: 900;
    padding-top: 25vh;
    color: white;
    margin: 0;
}

h2{
    font-family: 'Fraunces';
    font-size: 2.5rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    width: 26vw;
    margin-bottom: 0;
}

h3{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 1.8rem;
    text-align: center;
    color: #084e40;
    margin-bottom: 0;
}

h4 {
    font-family: 'Barlow';
    font-weight: 600;
    color:  #126b59;
    text-align: center;
    width: 24vw;
    padding-bottom: 4vh;
    line-height: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

h5{
    font-family: 'Fraunces';
    font-weight: 900;
    text-transform: uppercase;
    color: hsl(231, 15%, 65%);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 10vh;
}

h6{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 8vh;
}

p{
    font-family: 'Barlow';
    font-weight: 600;
    color: hsl(232, 10%, 55%);
    width: 28vw;
    line-height: 1.5rem;
}

a{
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.1rem;
    color: hsl(212, 27%, 19%);
    text-decoration: none;
    text-decoration-thickness: 1rem;
    text-decoration-color: hsl(51, 89%, 76%);
    text-decoration-line: 20px;
    position: relative;
    padding: 30px 0 8px;
    z-index: 3;
}

a::before{
    content: "";
    position: absolute;
    left: 65px;
    bottom: 6px;
    width: 145px;
    opacity: 0.4;
    height: 9px;
    transform: translateX(-52%);
    background: hsl(51, 89%, 76%);
    z-index: -1;
}

.logo {
    position: absolute;
    top: 5vh;
    left: 3vh;
    width: 10%;
}

.griditem{
    width: 50vw;
    max-width: 50%;
    height: 41vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.transform {
    background-image: url(./images/desktop/image-transform.jpg);
    background-size: cover;
}

.standout {
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-size: cover;
}

.graphic-design{
    padding-left: 0;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
    justify-content: end;
    height: 38vw;
}

.photography{
    background-image: url(./images/desktop/image-photography.jpg);
    padding-left: 0;
    background-size: cover;
    justify-content: end;
    height: 38vw;
}

#photo, #phototxt{
    color: hsl(198, 62%, 26%);
}

.row{
    display: flex;
    flex-direction: row;
}

.text-wrapper{
    align-content: center;
    background-color:#FFFBF8 ;
}

.testemonials-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #FFFBF8;
}

.testemonial-grid{
    display: flex;
    justify-content: space-around;
    margin: 0 4vh;
}

.testemonial-p, .testemonial-role {
    width: 24vw;
    color: hsl(213, 9%, 39%);
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.testemonial-role {
    color: hsl(210, 4%, 67%);
    font-size: 0.8rem;
}

.image-cropper {
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#img {
    display: inline;
    margin: 0 auto;
    height: 80%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic{
    display: flex;
    justify-content: center;
    padding: 3vh;
}


.slides-wrapper{
    display: flex;
    height: 60vh;
}

footer{
    height: 40vh;
    background-color: #7CC6B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide{
    width: 25vw;
    background-size: cover;
}

#slide1{
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);

}
#slide2{
    background-image: url(./images/desktop/image-gallery-orange.jpg);
}

#slide3{
    background-image: url(./images/desktop/image-gallery-cone.jpg);
}
#slide4{
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    
}

.footerlogo{
    filter: invert(22%) sepia(16%) saturate(559%) hue-rotate(120deg) brightness(52%) contrast(94%);
    height: auto;
    width: 15%;
    box-sizing: border-box;
    margin-bottom: 4vh;
    margin-top: 8vh;
}

.links{
    display: flex;
}

.footer-link{
    text-align: center;
    width: 10vw;
    color:#126b59;
}

.fa {
    padding: 13px;
    font-size: 22px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
}

.fa::before{
    background-color: transparent;
    position: initial;
    color:#000000;
}